/* Dosya adı: style.css */

/* Genel stil */
body {
    background-image: linear-gradient(179deg, rgba(0, 0, 0, 1) 9.2%, rgba(127, 16, 16, 1) 103.9%);
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

/* Başlık stil */
header {
    background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgb(61, 33, 33) 98.6% );
    padding: 20px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

/* İçerik bölümü stilleri */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Yazı rengi beyaz olarak güncellendi */
}

/* İlgi Alanları */
section#ilgi-alanlarim ul {
    list-style-type: square;
    padding-left: 20px;
}

/* İletişim bölümü stilleri */
section#iletisim ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

/* Footer stil */
footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* İçerik Ayırıcıları */
section#hakkimda,
section#yeteneklerim,
section#calismalarim,
section#iletisim {
    margin-top: 40px;
    border-top: 2px solid #333;
    padding-top: 20px;
    background-image: linear-gradient( 172.6deg,  rgba(21,13,15,1) 17.6%, rgba(84,84,84,1) 98.6% );
    box-shadow: none;
}
